﻿@model CountryModel

<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	  <meta name="viewport" content="width=device-width">

    <title>Export map for @Model.Name</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,600italic,600,400italic,300,300italic,700italic,800,800italic" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic" />
    <link rel="stylesheet" href="/_Client/Styles/style.css" />
	  
	  <script src="/_Client/Scripts/libs/modernizr-2.5.3.min.js"></script>

	  <script>
      var country = {
        'name': '@Model.Name',
        'latitude': @Model.Latitude,
        'longitude': @Model.Longitude,
        'points': [
          @foreach (var point in Model.Points)
          {
            @: { 'name': '@point.Name', 'type': @((int)point.Type), 'latitude': @point.Latitude, 'longitude': @point.Longitude, 'value': @point.Value, 'normalized': @point.Normalized },
          }
        ]
      };
      
	    var twitter_username = '';
	    var google_maps_latitude = country.latitude;
	    var google_maps_longitude = country.longitude;
	    var google_maps_circle_color = '#dd2729';
	    var google_maps_landscape_color = '#555555';
	    var google_maps_water_color = '#333333';
    </script>
  </head>

  <body class="text-white footer-transparent">
		<div class="container-comming-soon">
			<header class="clearfix comming-soon">
			</header>
			
			<div role="main" class="main comming-soon">
        <section class="content">
          <h1>Exporty Relativiser-ator</h1>
          <h2>We realised that World Development Indicators weren't very friendly for the average person. Here's our solution.</h2>
          <p>We decided to visualise the data for the average person to understand. Our hack is very simple to use - just select a country from the dropdown list below. We will then show you all of the countries that the selected country exports to, and how much in relation to other countries.</p>
					
          <form action="#">
            <select id="country">
              @foreach (var country in (IDictionary<long, string>)ViewBag.Countries)
              {
                if (ViewBag.Country == country.Key)
                {
                  <option value="@country.Key" selected="selected">@country.Value</option>
                }
                else
                {
                  <option value="@country.Key">@country.Value</option>
                }
              }
            </select></form>
					
          <div class="clearfix"></div>
        </section>
			</div>
		</div>

		<footer>
			<div class="wrapper-comming-soon">
				<div class="clearfix"></div>

				<section class="bottom-elements">
					<ul class="social">
					</ul>

					<section class="twitter-feed clearfix"></section>
				</section >

				<p class="margin-124 rights-reserved">
					Built by Kevin Lewis<br />
					& James Billingham at<br />
					DFID Hack
				</p>
			</div>
		</footer>

		<div id="progress-back" class="load-item">
      <div id="progress-bar"></div>
		</div>
		
		<div class="contact_map" id="contact_map"></div>
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/_Client/Scripts/libs/jquery-1.7.2.min.js"><\/script>')</script>
		<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script src="/_Client/Scripts/plugins.js"></script>
		<script src="/_Client/Scripts/script.js"></script>
  </body>
</html>
